.hide {
    display: none;
}

.show {
    display: inline
}

.container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.fit{
    height: fit-content;
    width: fit-content;
    margin-left: 220px;
}

.head{
    position: absolute;
    z-index: 0;
    top: 11rem;
}

.neck{
   position: absolute;
   z-index: -1;
   top: 22rem;
   left: 5rem;
}

.body {
   position: absolute;
   z-index: 0;
   top: 25rem;
   left: 3rem; 
}

.right-arm {
    position: absolute;
    z-index: -1;
    top: 25rem;
    left: 7rem; 
}

.left-arm {
    position: absolute;
    z-index: -1;
    top: 24rem;
    left: -2rem; 
}

.right-hand {
    position: absolute;
    z-index: -2;
    bottom: 310px;
    left: 215px;   
}

.left-hand {
    position: absolute;
    z-index: -2;
    bottom: 310px;
    left: -45px;  
}

.right-leg {
    position: absolute;
    z-index: -2;
    bottom: 120px;
    left: 105px;  
}

.left-leg {
    position: absolute;
    z-index: -2;
    bottom: 120px;
    left: 18px;  
}

.right-foot {
    position: absolute;
    z-index: -3;
    bottom: 105px;
    left: 140px;  
}

.left-foot {
    position: absolute;
    z-index: -3;
    bottom: 105px;
    left: -20px;  
}