.hide {
    display: none;
}

.show {
    display: inline
}

.container{
    position: relative;
    right: 90px;
    bottom: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    position: relative;
    top: 30px;
    height: 60px;
    width: 250px;
}

.fit{
    height: fit-content;
    width: fit-content;
}

.head{
    height: 7rem;
    z-index: 1;
}

.neck{
  height: 4rem;
  position: relative;
  bottom: 40px;
  z-index: 0;
}

.body {
  height: 8rem;
  position: relative;
  bottom: 55px;
  z-index: 2;
}

.right-arm {
    height: 5rem;
    position: relative;
    bottom: 180px;
    left: 58px;
    z-index: 1;
}

.left-arm {
    height: 5rem;
    position: relative;
    bottom: 260px;
    left: -57px;
    z-index: 1;
}

.right-hand {
    height: 1.5rem;
    position: relative;
    bottom: 275px;
    left: 95px;
    z-index: 0;
}

.left-hand {
    height: 1.5rem;
    position: relative;
    bottom: 300px;
    left: -95px;
    z-index: 0;
}

.right-leg {
    height: 7rem;
    width: 4rem;
    position: relative;
    bottom: 280px;
    left: 35px;
    z-index: 1;
}

.left-leg {
    height: 7rem;
    width: 4rem;
    position: relative;
    bottom: 395px;
    left: -35px;
    z-index: 1;
}

.right-foot {
    height: 2rem;
    width: 4rem;
    position: relative;
    bottom: 410px;
    left: 68px;
    z-index: 0;
}

.left-foot {
    height: 2rem;
    width: 4rem;
    position: relative;
    bottom: 445px;
    left: -65px;
    z-index: 0;
}